<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <!--Cwi connectionString-->
  <!--<connectionStrings>
    <add name="LOCADORA" connectionString="Data Source=NB-002691\SQLEXPRESS;Initial Catalog=Locadora;Persist Security Info=True;User ID=sa;Password=Crescer$5"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--Casa connectionString-->
  <connectionStrings>
    <add name="LOCADORA" connectionString="Data Source=NOTEBOOK\SQLCWI;Initial Catalog=Locadora;Persist Security Info=True;User ID=sa;Password=Crescer$5"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>