body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.botao{
    background-color:black;
    color:#ccc;
}
.tabela{
    background-color:#100000;
}
.linha:hover{
    background-color:#404040 ;
}
.yGreen{
    color:yellowgreen;
}
.white{
    color:white;
}
.black{
    color: black;
}
.blue{
    color:#333366; 
}
.top-ajuste{
    margin-top:50px;
}
.descricao{
    width:600px; 
    height:300px; 
    overflow:auto;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.inline-block{
    display:inline-block;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
img{
    width:800px;
    height:400px;
}